body { background: #89cfd3; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 34px; display: flex; }
.block-router-0 { color: #398b3d; font-size: 14px; margin-bottom: 5px; }
.block-payment-1 { color: #8ab78e; font-size: 17px; margin-bottom: 5px; }
.block-uploader-2 { color: #ea57b6; font-size: 12px; margin-bottom: 5px; }
.block-invoice-3 { color: #5c3283; font-size: 17px; margin-bottom: 5px; }
.block-config-4 { color: #5ccf0e; font-size: 21px; margin-bottom: 5px; }